# List

- **Dibungkus kurung siku**
- **Dipisahkan dengan koma**

In [1]:
nama = ["drogba", "dono", "alifia", "lampard"]  # berupa sttring
usia = [12, 24, 35]                # berupa integer
campuran = ["jokowi", 45, True]    # bisa campuran
player = ["mbappe", ["di maria", "icardi"], "draxler", [212,70,6]] # list di dalam list

In [2]:
len(nama) # panjang sebuah karakter

4

In [3]:
len(player)

4

### Mengakses Elemen menggunakan slice / [:] / [awal:akhir]

In [4]:
print(nama[2]) # akses elemen di indeks ke-2

alifia

In [5]:
print(nama[:1]) # akses elemen dari awal sampai ke-indeks tertentu (1)

['drogba']

In [6]:
print(nama[2:]) # akses elemen dari index 2 sampai akhir

['alifia', 'lampard']

In [7]:
# akses elemen menggunakan negatif indeks
# akses elemen dari awal sampai ke-(n-1)

print(nama[:-1])

['drogba', 'dono', 'alifia']

### Beberapa Metode dalam List

In [8]:
Liverpool = ["firmino", "salah", "mane"]

In [9]:
Liverpool.extend(["milner"]+["thiago"]) # menambah elemen di dalam list

print(Liverpool)

['firmino', 'salah', 'mane', 'milner', 'thiago']

In [10]:
Liverpool.append(["fabinho", "ismed sofyan"]) # menambah elemen (list di dalam list)

print(Liverpool)

['firmino', 'salah', 'mane', 'milner', 'thiago', ['fabinho', 'ismed sofyan']]

In [12]:
Liverpool.pop(5) # menghapus elemen di dalam list

print(Liverpool)

['firmino', 'salah', 'mane', 'milner', 'thiago']

In [23]:
makan = ["nasi", "kentang", "singkong"]

del makan[1]  # menghapus elemen di index 1
print(makan)

['nasi', 'singkong']

## List for Loops

In [28]:
buah = ["nanas", "pisang", 'mangga']

In [29]:
for item in buah:
    print(item)

nanas
pisang
mangga

### Solve it!

In [17]:
utang = [1,2,3,4,5]

for bunga in utang:
    total = bunga ** 2
    print(total)

1
4
9
16
25

In [18]:
nomor = [1,2,3,4,5]

xxx = [y ** 2 for y in nomor]
print(xxx)

[1, 4, 9, 16, 25]

### Menghitung Rata-rata

In [19]:
def average(angka):
    avg = sum(angka)/ len(angka)
    return avg

print("Rata-rata nya adalah", average([2,3,5,6]))

Rata-rata nya adalah 4.0

### Penjumlahan

In [21]:
def jumlah(nomor):
    total = 0
    for i in nomor:
        total += i
    return total
    
print(jumlah([1,2,3]))

6

In [33]:
x = [40, 100, 1, 5, 25, 10]

# for i in x:

In [34]:
x.reverse()

In [35]:
print(x)

[10, 25, 5, 1, 100, 40]

In [6]:
bintang = ""

for i in range(3):
    bintang += " * "
    print(bintang)

 *
 *  *
 *  *  *

In [12]:
angka = 14

while angka >= -16:
    print(angka, end = " ")
    angka -= 6

14 8 2 -4 -10 -16

In [14]:
i = 5

while i <= 15:
    print(i, end = ",")
    i += 2
    
    print(i)

5,7
7,9
9,11
11,13
13,15
15,17

In [16]:
for i in range(10):
    i += 1
    print(f"Nomor urut {i}")

Nomor urut 1
Nomor urut 2
Nomor urut 3
Nomor urut 4
Nomor urut 5
Nomor urut 6
Nomor urut 7
Nomor urut 8
Nomor urut 9
Nomor urut 10

In [18]:
for i in range(0,21,2):
    print(f"gazzzzzzz {i}")

gazzzzzzz 0
gazzzzzzz 2
gazzzzzzz 4
gazzzzzzz 6
gazzzzzzz 8
gazzzzzzz 10
gazzzzzzz 12
gazzzzzzz 14
gazzzzzzz 16
gazzzzzzz 18
gazzzzzzz 20

In [19]:
for i in range(1,20,2):
    print(f"aku ucapkan {i} kali")

aku ucapkan 1 kali
aku ucapkan 3 kali
aku ucapkan 5 kali
aku ucapkan 7 kali
aku ucapkan 9 kali
aku ucapkan 11 kali
aku ucapkan 13 kali
aku ucapkan 15 kali
aku ucapkan 17 kali
aku ucapkan 19 kali

In [21]:
for i in range(3):      # baris
    for j in range(5):  # kolom
        print(1, end = " ")
    
    print(" ") # baris baru

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [23]:
xxx = 1

for i in range(3):
    for j in range(5):
        print(xxx, end = " ")
        xxx += 1
        
    print(" ")

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15

In [24]:
yyy = ""

for i in range(3):
    yyy += " * "
print(yyy)

 *  *  *

In [28]:
for i in range(3):
    print(" * ")

 *
 *
 *

In [31]:
for i in range(5):
    for j in range(5):
        print("*", end = " ")
        
    print(" ")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [36]:
car = ""

for i in range(5):
    car += " * "
    print(car)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [ ]:
bbb = ""

for i in range(5):
    for j in