### Dictionaries

##### General

In [3]:
makanan = {"sayur" : "bayam",
           "buah" : "nanas", 
           "protein" : ["hewani", "nabati"]}

print(makanan)

{'sayur': 'bayam', 'buah': 'nanas', 'protein': ['hewani', 'nabati']}

##### Didefinisikan sebagai fungsi

In [4]:
biodata = dict(nama = "dono",
              pekerjaan = "bisnis",
              umur = 26)

print(biodata)

{'nama': 'dono', 'pekerjaan': 'bisnis', 'umur': 26}

##### Menggunakan zip

In [6]:
sekolah = dict(zip(["nama", "status", "alamat"],
                  ["delta", "negeri", "cirendeu"]))

print(sekolah)

{'nama': 'delta', 'status': 'negeri', 'alamat': 'cirendeu'}

###

Di dalam dictionary kebanyakan menggunakan yang General

###

### Nested Dictionaries

In [10]:
negara = {"asia" : {"asia_selatan" : ["indonesia"],
                    "asia_timur" : ["jepang"]},
         "eropa" : ["italia", "jerman"]}

print(negara)

{'asia': {'asia_selatan': ['indonesia'], 'asia_timur': ['jepang']}, 'eropa': ['italia', 'jerman']}

### Metode di dalam Dictionary

In [1]:
teman = {"wildan" : "smart",
        "ale" : "leader",
        "bimo" : "pemabuk"}

#print(teman.keys()) # menampilkan seluruh key
#print(teman.values()) # menampilkan seluruh value
#print(teman.items()) # menampilkan key & value
#print(teman)

dict_items([('wildan', 'smart'), ('ale', 'leader'), ('bimo', 'pemabuk')])

##### Cases

In [1]:
alphabet = {"ten", "twenty", "thirty"}
number = [10, 20, 30]

data = dict(zip(alphabet,number))  # zip ==>> menyatukan 2 variabel

print(data)

{'twenty': 10, 'thirty': 20, 'ten': 30}

In [1]:
nilai = {
  'Physics': 12,
  'Math': 65,
  'history': 75
}

print(min(nilai, key = nilai.get)) # menampilkan nilai minimal dari dict diatas

Physics

In [3]:
database = {"class" : {"student" : {"name" : "mike", "marks" : {"physics" : 70, "history" : 80}}}}

print(database)
print(database["class"]["student"]["marks"]["history"]) # mengambil nilai di dalamnya

{'class': {'student': {'name': 'mike', 'marks': {'physics': 70, 'history': 80}}}}
80

In [4]:
data = {"name" : "kelly",
       "age" : 34,
       "salary" : 900,
       "city" : "new york"}

data["location"] = data.pop("city") # mengganti "city" dengan "location"
print(data)

{'name': 'kelly', 'age': 34, 'salary': 900, 'location': 'new york'}

In [5]:
base = {
    "emp1" : {"nama" : "iky", "salary" : 7000},
    "emp2" : {"nama" : "bagus", "salary" : 5000},
    "emp3" : {"nama" : "nisa", "salary" : 4000}
    }

base["emp3"]["salary"] = 6000 # mengganti value dalam "emp3" "salary"
print(base)

{'emp1': {'nama': 'iky', 'salary': 7000}, 'emp2': {'nama': 'bagus', 'salary': 5000}, 'emp3': {'nama': 'nisa', 'salary': 6000}}