# List

- Salah satu dari 4 struktur data python
- List berisi kumpulan data yg tipe datanya bervariasi (string, numeric)
- Bersifat mutable / bisa dirubah / di edit

- Dibungkus kurung siku / []
- Dipisahkan dengan koma / [,,,]

- Apa bedanya dengan array? sama-sama di bungkus kurung siku?
- Array hanya bisa menampung 1 tipe data, sedangkan list bisa bervariasi

In [2]:
nama = ["drogba", "dono", "alifia", "lampard"]  # berupa string
nama

['drogba', 'dono', 'alifia', 'lampard']

In [2]:
len(nama) # panjang sebuah karakter

4

In [3]:
usia = [12, 24, 35]  # berupa integer
usia

[12, 24, 35]

In [4]:
campuran = ["jokowi", 45, True] # bisa campuran
campuran

['jokowi', 45, True]

In [5]:
player = ["mbappe", ["di maria", "icardi"], "draxler", [212,70,6]] # list di dalam list
player

['mbappe', ['di maria', 'icardi'], 'draxler', [212, 70, 6]]

In [3]:
len(player)

4

#### Mengakses elemen menggunakan slice

- [:]
- [awal:akhir:step]

In [17]:
nama

['drogba', 'dono', 'alifia', 'lampard']

In [4]:
print(nama[2]) # akses elemen di indeks ke-2

alifia

In [5]:
print(nama[:1]) # akses elemen dari awal sampai ke-indeks tertentu (1)

['drogba']

In [6]:
print(nama[2:]) # akses elemen dari index 2 sampai akhir

['alifia', 'lampard']

In [7]:
# akses elemen menggunakan negatif indeks
# akses elemen dari awal sampai ke-(n-1)

print(nama[:-1])

['drogba', 'dono', 'alifia']

### Beberapa Metode dalam List

#### append & extend

- menambahkan
- append -> hanya untuk 1 elemen
- extend -> untuk beberapa elemen

In [24]:
Liverpool = ["firmino", "salah", "mane"]

In [25]:
# menambah elemen di dalam list

Liverpool.extend(["milner"]+["thiago"]) 

print(Liverpool)

['firmino', 'salah', 'mane', 'milner', 'thiago']

In [26]:
# append hanya bisa menambah 1 nilai

Liverpool.append("aguero")

print(Liverpool)

['firmino', 'salah', 'mane', 'milner', 'thiago', 'aguero']

In [27]:
# jika lebih dari 1 nilai berbentuk list di dalam list

Liverpool.append(["fabinho", "ismed sofyan"]) # menambah elemen (list di dalam list)

print(Liverpool)

['firmino', 'salah', 'mane', 'milner', 'thiago', 'aguero', ['fabinho', 'ismed sofyan']]

#### pop, del & remove

- menghapus
- pop -> menghapus elemen paling akhir
- pop -> bisa juga diberikan keterangan
- del -> harus diberikan keterangan

In [28]:
# secara default pop akan menghapus item index paling akhir
# menghapus elemen di dalam list

Liverpool.pop(5) 

print(Liverpool)

['firmino', 'salah', 'mane', 'milner', 'thiago', ['fabinho', 'ismed sofyan']]

In [60]:
makan = ["nasi", "kentang", "singkong"]

In [61]:
del makan[1]  # menghapus elemen di index 1
print(makan)

['nasi', 'singkong']

In [30]:
nambah = ["lontong", "rujak"]
nambah

['lontong', 'rujak']

In [32]:
total = makan + nambah
total

['nasi', 'singkong', 'lontong', 'rujak']

#### sort

- Mengurutkan dari kecil

In [33]:
usia = [21,23,19,45,34,29]
usia

[21, 23, 19, 45, 34, 29]

In [35]:
usia.sort()
usia

[19, 21, 23, 29, 34, 45]

In [38]:
# sort tidak bisa dimasukkan ke dalam bariabel baru
# ketika di print tidak akan menghasilkan sesuatu

usia2 = usia.sort()
usia2

In [39]:
# NonType merupakan himpunan kosong

type(usia2)

NoneType

In [41]:
# tidak perlu menggunakan sort lagi

usia3 = usia
usia3

[19, 21, 23, 29, 34, 45]

In [48]:
remaja = [11,14,12,13,18,16]
remaja

[11, 14, 12, 13, 18, 16]

In [49]:
remaja_copy = remaja.copy()
remaja_copy

[11, 14, 12, 13, 18, 16]

In [51]:
remaja.sort()
remaja

[11, 12, 13, 14, 16, 18]

#### reverse

- Mengurutkan dari besar

In [70]:
tua = [56,53,44,76,56]
tua

[56, 53, 44, 76, 56]

In [71]:
tua_copy = tua.copy()
tua_copy

[56, 53, 44, 76, 56]

In [72]:
tua.reverse()
tua

[56, 76, 44, 53, 56]

In [73]:
alpha = ["a","c","f","g"]
alpha

['a', 'c', 'f', 'g']

In [74]:
alpha_copy = alpha.copy()
alpha_copy

['a', 'c', 'f', 'g']

In [75]:
alpha.reverse()
alpha

['g', 'f', 'c', 'a']

# Nested List

In [82]:
isian = [2,3,2,4,5,[3,7,8,9]]
isian

[2, 3, 2, 4, 5, [3, 7, 8, 9]]

In [78]:
isian[3]

4

In [77]:
isian[5]

[3, 7, 8, 9]

In [80]:
isian[3:6]

[4, 5, [3, 7, 8, 9]]

In [81]:
isian[5][2]

8

In [92]:
isian2 = [8,5,3,7,4,[6,3,3,"a"],[[5,2,6,"b"],[5,3,6,3,0]]]

In [93]:
isian2

[8, 5, 3, 7, 4, [6, 3, 3, 'a'], [[5, 2, 6, 'b'], [5, 3, 6, 3, 0]]]

In [94]:
isian2[5]

[6, 3, 3, 'a']

In [95]:
isian2[6]

[[5, 2, 6, 'b'], [5, 3, 6, 3, 0]]

In [96]:
isian2[6][0][3]

'b'

## List for Loops

In [15]:
buah = ["nanas", "pisang", 'mangga']

In [29]:
for item in buah:
    print(item)

nanas
pisang
mangga

In [16]:
for i in range(len(buah)):
    print(i)

0
1
2

In [97]:
ganjil = [1,3,5,7,9]
genap = [2,4,6,8]

In [98]:
angka = ganjil + genap
angka

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [100]:
angka2 = [ganjil,genap]
angka2

[[1, 3, 5, 7, 9], [2, 4, 6, 8]]

In [101]:
for i in angka2:
    print(i)

[1, 3, 5, 7, 9]
[2, 4, 6, 8]

In [102]:
for i in angka2:
    print(i)
    
    for j in i:
        print(j)

[1, 3, 5, 7, 9]
1
3
5
7
9
[2, 4, 6, 8]
2
4
6
8

In [126]:
for y in angka2:
    for z in y:
        print(z, end = " ")

1 3 5 7 9 2 4 6 8

### Solve it!

In [17]:
utang = [1,2,3,4,5]

for bunga in utang:
    total = bunga ** 2
    print(total)

1
4
9
16
25

In [18]:
nomor = [1,2,3,4,5]

xxx = [y ** 2 for y in nomor]
print(xxx)

[1, 4, 9, 16, 25]

### Menghitung Rata-rata

In [19]:
def average(angka):
    avg = sum(angka)/ len(angka)
    return avg

print("Rata-rata nya adalah", average([2,3,5,6]))

Rata-rata nya adalah 4.0

### Penjumlahan

In [21]:
def jumlah(nomor):
    total = 0
    for i in nomor:
        total += i
    return total
    
print(jumlah([1,2,3]))

6

In [33]:
x = [40, 100, 1, 5, 25, 10]

# for i in x:

In [34]:
x.reverse()

In [35]:
print(x)

[10, 25, 5, 1, 100, 40]

In [6]:
bintang = ""

for i in range(3):
    bintang += " * "
    print(bintang)

 *
 *  *
 *  *  *

In [12]:
angka = 14

while angka >= -16:
    print(angka, end = " ")
    angka -= 6

14 8 2 -4 -10 -16

In [14]:
i = 5

while i <= 15:
    print(i, end = ",")
    i += 2
    
    print(i)

5,7
7,9
9,11
11,13
13,15
15,17

In [16]:
for i in range(10):
    i += 1
    print(f"Nomor urut {i}")

Nomor urut 1
Nomor urut 2
Nomor urut 3
Nomor urut 4
Nomor urut 5
Nomor urut 6
Nomor urut 7
Nomor urut 8
Nomor urut 9
Nomor urut 10

In [18]:
for i in range(0,21,2):
    print(f"gazzzzzzz {i}")

gazzzzzzz 0
gazzzzzzz 2
gazzzzzzz 4
gazzzzzzz 6
gazzzzzzz 8
gazzzzzzz 10
gazzzzzzz 12
gazzzzzzz 14
gazzzzzzz 16
gazzzzzzz 18
gazzzzzzz 20

In [19]:
for i in range(1,20,2):
    print(f"aku ucapkan {i} kali")

aku ucapkan 1 kali
aku ucapkan 3 kali
aku ucapkan 5 kali
aku ucapkan 7 kali
aku ucapkan 9 kali
aku ucapkan 11 kali
aku ucapkan 13 kali
aku ucapkan 15 kali
aku ucapkan 17 kali
aku ucapkan 19 kali

In [21]:
for i in range(3):      # baris
    for j in range(5):  # kolom
        print(1, end = " ")
    
    print(" ") # baris baru

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [23]:
xxx = 1

for i in range(3):
    for j in range(5):
        print(xxx, end = " ")
        xxx += 1
        
    print(" ")

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15

In [24]:
yyy = ""

for i in range(3):
    yyy += " * "
print(yyy)

 *  *  *

In [28]:
for i in range(3):
    print(" * ")

 *
 *
 *

In [31]:
for i in range(5):
    for j in range(5):
        print("*", end = " ")
        
    print(" ")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [36]:
car = ""

for i in range(5):
    car += " * "
    print(car)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *