# Sets

- Collcetion data type
- Tidak memiliki key dan value
- Bersifat unik/ tidak boleh duplikasi -> secara otomatis akan membuang data yg duplikasi
- Menggunakan {}

- set tidak bisa menyimpan tipe data list di dalamnya
- Immutable/ tidak bisa dirubah -> jika perlu harus dirubah ke bentuk list dahulu
- Tidak bisa di indeks/ urutan

In [1]:
# membuat set kosong

set1 = set()
set1

set()

In [13]:
set_an = set("opo kui?")
set_an

{' ', '?', 'i', 'k', 'o', 'p', 'u'}

In [14]:
set_ay = set(["opo yo?"])
set_ay

{'opo yo?'}

In [3]:
# secara otomatis akan membuang data yg duplikasi

set2 = {1,5,2,4,5,2,4,5,"f","x","x"}
set2

{1, 2, 4, 5, 'f', 'x'}

In [2]:
sattttt = {9,6,"batttt", True}
sattttt

{6, 9, True, 'batttt'}

In [4]:
nilai = 2,6,4,3,56
print(nilai)

(2, 6, 4, 3, 56)

In [4]:
set3 = set(nilai)
set3

{2, 3, 4, 6, 56}

#### add

In [6]:
set3.add("lol")
set3

{2, 3, 4, 56, 6, 'lol'}

In [8]:
print(type(set3))

<class 'set'>

#### remove & discard

- lebih disarankan menggunakan discard

In [11]:
# akan menghapus nilai, bukan index

set3.remove(3)
set3

{2, 4, 56, 6, 'lol'}

In [12]:
# menghapus nilai, bukan index

set3.discard(4)
set3

{2, 56, 6, 'lol'}

In [5]:
# membuat set ke dalam bentuk list

baru_nih = list(sattttt)
baru_nih

[9, 'batttt', 6, True]

#### union

In [10]:
s1 = {1,2,3,4}
s2 = {"makan", "minum"}
s3 = {99,89}

set_gabung = s1.union(s2)
set_gabung

{1, 2, 3, 4, 'makan', 'minum'}

In [11]:
set_gabung2 = s1.union(s2, s3)
set_gabung2

{1, 2, 3, 4, 89, 99, 'makan', 'minum'}

#### intersection & difference

In [13]:
s4 = {3,4,5,6}

set_iris = s1.intersection(s4)
set_iris

{3, 4}

In [15]:
set_selisih = s1.difference(s4)
set_selisih

{1, 2}

In [18]:
beda = s1.symmetric_difference(s4)
beda

{1, 2, 5, 6}