## Dictionaries

- Dictionaries merupakan sebuah struktur data yang berbentuk seperti kamus
- Koleksi tidak urut/ tidak memilik urutan
- Pengambilan item/ akses menggunakan "key"
- Mutable/ bisa di edit

- Memiliki kata kunci dan isi
- {key : value/ item}
- menggunakan kurung kurawal {}

##### General

- tidak boleh memiliki key yg sama
- tidak akan error tapi akan random key

In [2]:
makanan = {"sayur" : "bayam",
           "buah" : "nanas", 
           "protein" : ["hewani", "nabati"]}

print(makanan)

{'sayur': 'bayam', 'buah': 'nanas', 'protein': ['hewani', 'nabati']}

In [3]:
makanan["sayur"]

'bayam'

In [4]:
makanan.get("buah")

'nanas'

In [6]:
makanan.get("jus", "tidak ada key")

'tidak ada key'

##### Didefinisikan sebagai fungsi

In [4]:
biodata = dict(nama = "dono",
              pekerjaan = "bisnis",
              umur = 26)

print(biodata)

{'nama': 'dono', 'pekerjaan': 'bisnis', 'umur': 26}

##### Menggunakan zip

In [6]:
sekolah = dict(zip(["nama", "status", "alamat"],
                  ["delta", "negeri", "cirendeu"]))

print(sekolah)

{'nama': 'delta', 'status': 'negeri', 'alamat': 'cirendeu'}

**Di dalam dictionary kebanyakan menggunakan yang General**

### Nested Dictionaries

In [10]:
negara = {"asia" : {"asia_selatan" : ["indonesia"],
                    "asia_timur" : ["jepang"]},
         "eropa" : ["italia", "jerman"]}

print(negara)

{'asia': {'asia_selatan': ['indonesia'], 'asia_timur': ['jepang']}, 'eropa': ['italia', 'jerman']}

### Metode di dalam Dictionary

#### items, keys & values

In [7]:
teman = {"wildan" : "smart",
        "ale" : "leader",
        "bimo" : "pemabuk"}

In [22]:
teman

{'wildan': 'smart', 'ale': 'leader', 'bimo': 'pemabuk'}

In [37]:
# menampilkan key & value

teman.items()

dict_items([('wildan', 'smart'), ('ale', 'leader'), ('bimo', 'pemabuk')])

In [25]:
# menampilkan seluruh key

print(teman.keys())

dict_keys(['wildan', 'ale', 'bimo'])

In [26]:
kay = teman.keys()
print(kay)

dict_keys(['wildan', 'ale', 'bimo'])

In [15]:
for q in kay:
    print(q)

wildan
ale
bimo

In [11]:
# menampilkan seluruh value

teman.values()

dict_values(['smart', 'leader', 'pemabuk'])

In [5]:
teman["wildan"]

'smart'

In [1]:
country = { 
           'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 },
           'indonesia' : {'capital':'jakarta', 'population':250}
         }

for i, y in country.items():
    print('Ibukota '+ i +' adalah '+ y["capital"])

Ibukota spain adalah madrid
Ibukota france adalah paris
Ibukota germany adalah berlin
Ibukota norway adalah oslo
Ibukota indonesia adalah jakarta

#### update & pop

In [41]:
teman

{'wildan': 'smart', 'ale': 'leader', 'bimo': 'pemabuk'}

In [43]:
teman.update({"bimo":"petarung", "ale":"gondrong", "guntur":"coki"})
teman

{'wildan': 'smart', 'ale': 'gondrong', 'bimo': 'petarung', 'guntur': 'coki'}

In [1]:
alphabet = {"ten", "twenty", "thirty"}
number = [10, 20, 30]

data = dict(zip(alphabet,number))  # zip ==>> menyatukan 2 variabel

print(data)

{'twenty': 10, 'thirty': 20, 'ten': 30}

In [1]:
nilai = {
  'Physics': 12,
  'Math': 65,
  'history': 75
}

print(min(nilai, key = nilai.get)) # menampilkan nilai minimal dari dict diatas

Physics

In [3]:
database = {"class" : {"student" : {"name" : "mike", "marks" : {"physics" : 70, "history" : 80}}}}

print(database)
print(database["class"]["student"]["marks"]["history"]) # mengambil nilai di dalamnya

{'class': {'student': {'name': 'mike', 'marks': {'physics': 70, 'history': 80}}}}
80

In [44]:
data = {"name" : "kelly",
       "age" : 34,
       "salary" : 900,
       "city" : "new york"}

data["location"] = data.pop("city") # mengganti "city" dengan "location"
print(data)

{'name': 'kelly', 'age': 34, 'salary': 900, 'location': 'new york'}

In [48]:
datapop = data.pop("alamat", "error")
datapop

'error'

In [49]:
base = {
    "emp1" : {"nama" : "iky", "salary" : 7000},
    "emp2" : {"nama" : "bagus", "salary" : 5000},
    "emp3" : {"nama" : "nisa", "salary" : 4000}
    }

base["emp3"]["salary"] = 6000 # mengganti value dalam "emp3" "salary"
print(base)

{'emp1': {'nama': 'iky', 'salary': 7000}, 'emp2': {'nama': 'bagus', 'salary': 5000}, 'emp3': {'nama': 'nisa', 'salary': 6000}}

In [50]:
database = {**data, **base}
database

{'name': 'kelly',
 'age': 34,
 'salary': 900,
 'location': 'new york',
 'emp1': {'nama': 'iky', 'salary': 7000},
 'emp2': {'nama': 'bagus', 'salary': 5000},
 'emp3': {'nama': 'nisa', 'salary': 6000}}

- dictionary sangat berkaitan dengan json
- JavaScript Object Notation

In [53]:
import json