## Lambda

 **Lambda merupakan sebuah cara lain membuat fungsi**
- bisa memuat lebih dari satu parameter
- hanya bisa membuat satu isi/ ekspresi
- lambda biasanya dipakai ketika ingin membuat fungsi hanya satu baris

In [1]:
def times2(num): 
    return num*2

print(times2(2))

4

In [2]:
lambda num: num*2

In [3]:
kali2 = lambda num: num*2
kali2(43)

86

In [8]:
tes2 = lambda num : num * 2 # fungsi lambda juga bisa di masukan ke dalam variabel

print(tes2(3))

6

In [10]:
tes3 = lambda angka : print(angka ** angka) # bisa langsung memasukan print di dalam fungsi

tes3(3)

27

In [11]:
(lambda x,y : x*2 + y*3)(7,8)

# tanda kurung yg mengapit fungsi lambda artinya akan langsung di eksekusi

38

In [4]:
botol = [1,2,3]

kali3 = list(map(lambda num: num*3,botol))
kali3

[3, 6, 9]

In [5]:
gelas = [1,2,3,4,5,6]

genap = list(filter(lambda x: x%2 == 0,gelas))
genap

[2, 4, 6]

In [2]:
listNum = [ 1, 2, 3, 4, 5];
listNum = list(map(times2, listNum)) # fungsi map terdiri dari 2 paramater, parameter yang pertamam itu adalah fungsi / lambda
#                                      dan parameter kedua adalah iterable
print(listNum);

[2, 4, 6, 8, 10]

In [3]:
listNum = [1,2,3,4,5,6]

list(map(lambda num : num *2, listNum)) # map itu berfungsi untuk mengaplikasikan suatu fungsi atau lambda ke suatu iterable

[2, 4, 6, 8, 10, 12]

In [4]:
def kali10(num):
    return num*10

angka = [3,6,9]

# for i in map(kali10, angka):
# print(i)


for i in list(map(kali10, angka)):
    print(i)

30
60
90

In [5]:
def genap(num) :
    return num % 2 == 1;

genap(4)
listNum = [ 1, 2, 3, 4, 5];
listNum = list(filter(genap, listNum));
print(listNum);

[1, 3, 5]

In [6]:
listNum = [ 1, 2, 3, 4, 5];

x = list(filter(lambda num : num % 2 == 1, listNum))
print(x)

[1, 3, 5]

In [7]:
numList = [1,2,3];
input = 'x';

check1 = input in numList;
check2 = 'x' in ['x','y','z'];
check3 = 'ku' in 'Kurakas';

print(check1)
print(check2)
print(check3)

False
True
False

In [8]:
import pandas as pd

d = {'asset':[450, 150, 230],
    'revenue' : [451, 170, 220]}
df = pd.DataFrame(d)
df

   asset  revenue
0    450      451
1    150      170
2    230      220

In [9]:
df['profit'] = df.apply(lambda x: x['revenue'] - x['asset'], axis = 1)
df

   asset  revenue  profit
0    450      451       1
1    150      170      20
2    230      220     -10

In [4]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


listnum2 = list(map(lambda num: num **2, nums))
listnum3 = list(map(lambda num: num **2, nums))

print("original list of integers:\n", nums)
print("kuadrat setiap list:\n", listnum2)
print("pangkat tiga setiap list:\n", listnum3)

original list of integers:
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
kuadrat setiap list:
 [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
pangkat tiga setiap list:
 [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
listnum = [10,2,8,7,5,4,3,11,0,1]

listnum2 = list(filter(lambda num: num >=4, listnum))

print(listnum2)

[10, 8, 7, 5, 4, 11]