# Sets

- Tidak memiliki key dan value
- Bersifat unik/ tidak boleh duplikasi

- set tidak bisa menyimpan tipe data list di dalamnya
- Immutable/ tidak bisa dirubah

- Tidak bisa di indeks
- jika perlu harus dirubah ke bentuk list dahulu

- {}

In [1]:
# membuat set kosong

set1 = set()
set1

set()

In [13]:
set_an = set("opo kui?")
set_an

{' ', '?', 'i', 'k', 'o', 'p', 'u'}

In [14]:
set_ay = set(["opo yo?"])
set_ay

{'opo yo?'}

In [2]:
# secara otomatis akan membuang data yg duplikasi

set2 = {1,5,2,4,5,2,4,5,"f","x","x"}
set2

{1, 2, 4, 5, 'f', 'x'}

In [10]:
nilai = 2,6,4,3,56
print(nilai)

(2, 6, 4, 3, 56)

In [4]:
set3 = set(nilai)
set3

{2, 3, 4, 6, 56}

In [6]:
set3.add("lol")
set3

{2, 3, 4, 56, 6, 'lol'}

In [8]:
print(type(set3))

<class 'set'>

In [11]:
# akan menghapus nilai, bukan index

set3.remove(3)
set3

{2, 4, 56, 6, 'lol'}

In [12]:
# menghapus nilai, bukan index

set3.discard(4)
set3

{2, 56, 6, 'lol'}