# For Loop

#### Variabel untuk (for) umumnya bersifat list

In [2]:
list1 = list(range(10)) # list index dimulai dari 0

print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
list2 = list(range(2,8)) # start - stop

print(list2)

[2, 3, 4, 5, 6, 7]

In [2]:
list3 = list(range(4,15,2)) # start - stop - space
                            # isi variabel list3 bertipe data list dengan range 1-10 dan space 2
print(list3)                # akan mencetak isi di vaiabel list3

[4, 6, 8, 10, 12, 14]

#### Fungsi Looping

In [3]:
for i in "hai":
    print(i)

h
a
i

In [4]:
for i in "selamat pagi":
    print(i, end="") # gunakan end="" untuk mencetak langsung setelahnya

selamat pagi

In [5]:
angka = list(range(4))

for i in angka:
    print(i)

0
1
2
3

In [13]:
jumlah = 0

for i in angka:    
    jumlah = jumlah + i
    print(f"hasil iterasi ke {i} adalah {jumlah}")

hasil iterasi ke 0 adalah 0
hasil iterasi ke 1 adalah 1
hasil iterasi ke 2 adalah 3
hasil iterasi ke 3 adalah 6

In [16]:
jumlah = 0

for i in angka:    
    jumlah = jumlah + i
print(f"hasil penjumlahan pada angka adalah {jumlah}")

hasil penjumlahan pada angka adalah 6

In [12]:
list5 = list(range(1,10,2))

for x in list5:
    print(f"ini urutan ke {x}")

ini urutan ke 1
ini urutan ke 3
ini urutan ke 5
ini urutan ke 7
ini urutan ke 9

In [10]:
list6 = list(range(6,1,-1))

for y in list6:

    print(y)

6
5
4
3
2

In [35]:
kalimat = "selamat malam"
indeks = 0

for i in kalimat:
    if i == "a":
        print(f"ada huruf a di index ke-{indeks}")
    indeks += 1

ada huruf a di index ke-3
ada huruf a di index ke-5
ada huruf a di index ke-9
ada huruf a di index ke-11

In [22]:
uangka = list(range(1,11))

for i in uangka:
    if i % 2 == 0:
        print(f"{i} adalah angka genap")
    else:
        print(f"{i} adalah angka ganjil")

1 adalah angka ganjil
2 adalah angka genap
3 adalah angka ganjil
4 adalah angka genap
5 adalah angka ganjil
6 adalah angka genap
7 adalah angka ganjil
8 adalah angka genap
9 adalah angka ganjil
10 adalah angka genap

In [31]:
uangka = list(range(1,11))

for i in uangka:
    if i % 2 == 0:
        continue
    else:
        print(f"{i} adalah angka ganjil")

1 adalah angka ganjil
3 adalah angka ganjil
5 adalah angka ganjil
7 adalah angka ganjil
9 adalah angka ganjil

In [33]:
for i in "xixixi hehe":
    if i == "i":
        pass
    else:
        print(i,end="")

xxx hehe

In [24]:
box = ((1,2),(3,4),(5,6)) # tuple

for i in box:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [28]:
for i, j in box:
    print(i,j)

1 2
3 4
5 6

In [29]:
for i, j in box:
    print(i)
    print(j)

1
2
3
4
5
6

In [25]:
for i in box:
    for j in i:
        print(j)

1
2
3
4
5
6

In [26]:
for i in box:
    for j in i:
        print(j, end="")

123456

In [30]:
bobox = ((1,2,"a"),(3,4,"b"),(5,6,"c"))

for i,j,k in bobox:
    print(k)

a
b
c

In [34]:
number = 4                # membuat variabel integer 4

for i in range(10):      # ulangi i di range 212
    print(f"sekarang ada di angka {i}") # cetak objek dan i (berarti dimulai dari 0 sampai 211)
    percobaan = i + 1     # membuat variabel percobaan, dengan isi i ditambah 1
    
    if i == number:             # jika i sama dengan number
        print("ketemu deeeeh")  # print objek
        print(f"percobaan sebanyak {percobaan} kali") # cetak objek  
        break                   # jika kondisi di eksekusi lakukan break (berhenti)
    else:                       # jika kondisi false
        print("lanjutttttt")    # print objek

sekarang ada di angka 0
lanjutttttt
sekarang ada di angka 1
lanjutttttt
sekarang ada di angka 2
lanjutttttt
sekarang ada di angka 3
lanjutttttt
sekarang ada di angka 4
ketemu deeeeh
percobaan sebanyak 5 kali

## Enumerate

- output berupa tuples

In [37]:
indeks = 0

for i in "abcde":
    print(f"karakter {i} ada di index ke-{indeks}")
    indeks += 1

karakter a ada di index ke-0
karakter b ada di index ke-1
karakter c ada di index ke-2
karakter d ada di index ke-3
karakter e ada di index ke-4

In [38]:
# akan langsung mencetak index
# hasil berupa tuple

kata_kata = "jangan banyak ribut"

for i in enumerate(kata_kata):
    print(i)

(0, 'j')
(1, 'a')
(2, 'n')
(3, 'g')
(4, 'a')
(5, 'n')
(6, ' ')
(7, 'b')
(8, 'a')
(9, 'n')
(10, 'y')
(11, 'a')
(12, 'k')
(13, ' ')
(14, 'r')
(15, 'i')
(16, 'b')
(17, 'u')
(18, 't')

In [44]:
for i,j in enumerate("hai babe"):
    print(i) # index
    print(j) # value

0
h
1
a
2
i
3

4
b
5
a
6
b
7
e

## Zip

- output berupa tuples

In [45]:
kolam1 = [1,2,3,4,5]
kolam2 = ["a","b","c","d","e"]

for i in zip(kolam1,kolam2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [46]:
kolam1 = [1,2,3,4,5]
kolam2 = ["a","b","c","d","e"]
kolam3 = [10,20,30,40,50]

for i in zip(kolam1,kolam2,kolam3):
    print(i)

(1, 'a', 10)
(2, 'b', 20)
(3, 'c', 30)
(4, 'd', 40)
(5, 'e', 50)

In [47]:
# bisa dirubah menjadi list

list(zip(kolam1,kolam3))

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

## item checking

In [48]:
motivasi = "yaudahlah"

"l" in motivasi

True

In [49]:
"x" in motivasi

False

In [50]:
pazang = {"x" : 2000,
         "y" : 8000}

"x" in pazang

True

In [51]:
"a" in pazang

False

In [53]:
2000 in pazang.values()

True

# Nested Loop

In [23]:
love = 1

for i in range(3):
    for j in range(2):
        print(love, end = " ")
        love += 1
        
    print(" ")

1 2
3 4
5 6

In [54]:
kursi = []

for i in range(1,6):
    kursi.append(i)
    
kursi

[1, 2, 3, 4, 5]

In [57]:
meja = [i for i in range(2,8,2)]
meja

[2, 4, 6]

In [62]:
meja2 = [(i*2) for i in range(2,8,2)]
meja2

[4, 8, 12]

In [65]:
kasur = [i for i in range(2,8) if i%2 == 0]
kasur

[2, 4, 6]

In [63]:
kasur = [(i*2) for i in range(2,8) if i%2 == 0]
kasur

[4, 8, 12]

In [67]:
kasur1 = [i if i%2 == 0 else f"{i} angka ganjil" for i in range(2,8) ]
kasur1

[2, '3 angka ganjil', 4, '5 angka ganjil', 6, '7 angka ganjil']

In [71]:
lk = []

for i in range(2,8):
    if i%2 == 0:
        lk.append(i)
    else:
        lk.append(f"{i} ganjil brow")
lk

[2, '3 ganjil brow', 4, '5 ganjil brow', 6, '7 ganjil brow']